.match-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid rgba(172,173,183,.1);
    margin: 16px 6px;
    padding-bottom: 10px;
}
.match-item:last-child{
    border-bottom: none;
}
.match-time{
    font-size: 16px;
    line-height: 22px;
    color: #4247e5;
    margin: 0;
}
.match-info{
    display: flex;
    align-items: center;

    margin: 0;
    min-width: 420px;
}
.match-btn{
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
    margin: 0 24px;
    border: none;

    min-width: 106px;
    width: auto;
    height: 48px;
    border-radius: 12px;
}
.btn-finished{
    color: white;
    background-color: #4247e5;
}
.btn-started{
    color: #4247e5;
    background: white;
}
.btn-add-goal{
    cursor: pointer;
    margin: 0 12px;
    border: none;

    width: 26px;
    height: 26px;
    border-radius: 50px;
    color: #4247e5;
    background: white;
}
.match-progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
