.btn{
    border: none;
    min-width: 60px;
    background-color: transparent;
    color: #4247E5;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.label-text{
    margin: 0 20px 0 0;
    font-size: 18px;
    line-height: 22px;
}